<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">About Volunteer Kind</h1>

    <div class="w-60 pt-3 font-weight-bolder">
      <p>
        Volunteer Kind is a charity event and personnel tracker with many management capabilities for fulfilling staffing needs. Not only
        does Volunteer Kind manage users and events, but also handles event sign in by any device the organization wishes to use on site. We
        make it possible for organizations to manage anything from event details to user registration and volunteer approval. The
        application is protected using Keycloak & OAuth 2.0.
      </p>
      <p>
        While it may be a work in progress at the moment, there are many features in the works for Volunteer Kind. Suporting both private
        and public hosting is a feature on the way for the application, while internationalization is also a distant feature. Feel free to
        leave a message for any inquiries about the status and availability of Volunteer Kind for your future needs.
      </p>

      <p>
        For inquiries or issues with Volunteer Kind:
        <a href="mailto:response@vkind.site">response@vkind.site</a>
      </p>
    </div>
  </div>
</div>
