/* ==========================================================================
Splash (Home) page styles
========================================================================== */

.tonight {
  display: inline-block;
  width: 300px;
  height: 200px;
  background: url('../../content/images/tonight_sm.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.intro {
  display: block;
  width: 300px;
  height: 200px;
  background: url('../../content/images/cloudshine_sm.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.grbeach {
  display: inline-block;
  width: 300px;
  height: 199px;
  background: url('../../content/images/groupbeach_sm.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.grhands {
  display: inline-block;
  width: 300px;
  height: 200px;
  background: url('../../content/images/grouphands_sm.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.volunteers {
  display: inline-block;
  width: 300px;
  height: 200px;
  background: url('../../content/images/volunteersneeded_sm.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.rpad {
  padding-top: 15px;
  padding-bottom: 10px;
}

.h-margin {
  margin: 25px;
}

.h-font {
  color: #2c5c87;
  font-family: 'Helvetica', sans-serif;
  font-size: 36pt;
}

.flex-space {
  justify-content: space-around;
}

.mobile-margin {
  margin: 5px;
}

.description {
  padding: 5px;
  color: #2c5c87;
  font-size: 16pt;
  font-family: 'Helvetica', sans-serif;
}

.force-width {
  width: 70%;
}

.homeback {
  background-image: url('../../content/images/backclouds.jpg');
  padding-bottom: 50px;
}
