<div class="homeback">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <h1 class="display-4 h-margin h-font">What Can Volunteer Kind Do For You?</h1>
      </div>
    </div>

    <div class="row rpad d-flex flex-space">
      <div class="mobile-margin">
        <span class="intro img-fluid"></span>
      </div>

      <div class="d-flex align-items-center justify-content-center mobile-margin force-width">
        <p class="description">
          In this day and age we all depend on software to make our lives easier. Managing charity events should be no different. Volunteer
          Kind addresses personnel recruitment and event management making it easier to achieve the goals of any planned event.
        </p>
      </div>
    </div>

    <div class="row rpad d-flex flex-space">
      <div class="d-flex align-items-center justify-content-center mobile-margin force-width">
        <p class="description">
          Tap into the potential of your entire community with Volunteer Kind's recruitment features which allow volunteers to find you.
        </p>
      </div>

      <div class="mobile-margin">
        <span class="grhands img-fluid"></span>
      </div>
    </div>

    <div class="row rpad d-flex flex-space">
      <div class="mobile-margin">
        <span class="volunteers img-fluid"></span>
      </div>

      <div class="d-flex align-items-center justify-content-center mobile-margin force-width">
        <p class="description">
          Allow volunteers registered within the same event to connect with each other and their organizers to ensure everyone's needs are
          met, including personnel requirements.
        </p>
      </div>
    </div>

    <div class="row rpad d-flex flex-space">
      <div class="d-flex align-items-center justify-content-center mobile-margin force-width">
        <p class="description">
          No need to have sleepless nights over data protection. We use Keycloak authentication to handle personnel logins (with OAuth 2.0).
          Rest assured that we here at Volunteer Kind take your privacy seriously and will never disclose any information unless required by
          law.
        </p>
      </div>

      <div class="mobile-margin">
        <span class="tonight img-fluid"></span>
      </div>
    </div>

    <div class="row rpad d-flex flex-space">
      <div class="mobile-margin">
        <span class="grbeach img-fluid"></span>
      </div>

      <div class="d-flex align-items-center justify-content-center mobile-margin force-width">
        <p class="description">
          No matter how you wish to implement Volunteer Kind's features, you will surely have a better way to manage your charity event
          needs and bring your community together in the process.
        </p>
      </div>
    </div>
  </div>
</div>
